---
import BaseLayout from "../layouts/index.astro";
import Card from "@components/ui/card/index.astro";
import CardGrid from "@components/containers/card-grid.astro";
import { db } from "@mocks/data";
---

<BaseLayout title="Main Page" extraa="Hey">
  <section>
    <CardGrid>
      {
        db.length > 0 ? (
          db.map((item) => <Card data={item} />)
        ) : (
          <h1>Data Not Found</h1>
        )
      }
    </CardGrid>
  </section>
</BaseLayout>
